
    <div class="dropdown">
        <button class="btn btn-primary @Class dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
               @onclick="ButtonClick" @onfocusout="MenuOut" @onmouseout="MouseOut" @onmouseover="MouseIn">
            @Text
        </button>
        <div class="dropdown-menu @showCss" @onfocusout="MenuOut" @onmouseout="MouseOut" @onmouseover="MouseIn">
            @Content
        </div>
    </div>

@code {
    [Parameter]
    public RenderFragment Content { get; set; }
    [Parameter]
    public string Text { get; set; } = "Button";

    [Parameter]
    public string Class { get; set; } = null;

    public bool DropDown {
        get
        {
            return isVisible;
        }
        set
        {
            isVisible = value;
        }
    }
    private bool isVisible = false;
    private string showCss => isVisible? "show":null;
    private bool isActive = false;

    private void ButtonClick()
    {
        isVisible = !isVisible;
    }

    private void MenuOut()
    {
        if (!isActive)
            isVisible = false;
    }

    private void MouseIn()
    {
        //Console.WriteLine("mouse in");
        isActive = true;
    }

    private void MouseOut()
    {
        //Console.WriteLine("mouse out");
        isActive = false;
    }
}
