@page   "/TestDateTimeDialog"
@using BlazorBootstrap.DateTimeDialog
@using BlazorBootstrap.Modal

<h6>DateTime Dialog</h6>
<DateTimeDialog DateTime="DateTime" />
<h6>Date Dialog</h6>
<DateTimeDialog DateTime="DateTime" IsShowTime="false"/>

@code {
    [Parameter]
    public DateTime DateTime { get; set; } = DateTime.Now;
}
