@page "/testdatetimepicker"

@using BlazorBootstrap.DateTimePicker

<h6>DateTime Picker</h6>
<div class="row">
   <DateTimePicker DateTime="Date" 
                     />
</div>

<h6>Date Picker</h6>
<div class="row">
    <DateTimePicker DateTime="Date" IsShowTime="false"/>
</div>


@code{ 
    private DateTime Date = DateTime.Now;

}
