@page "/testdatetimepicker"

@using BlazorBootstrap.DateTimePicker

<h6>DateTime Picker</h6>
<div class="row">
   <DateTimePicker DateTime="Date"/>
</div>

@code{ 
    private DateTime Date = DateTime.Now;
}
